@font-face {
    font-family: myFont;
    src: url("fonts/Academy Engraved LET Fonts.ttf");
  }
  @font-face {
    font-family: my1Font;
    src: url("fonts/LibreBodoni-Italic-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: my2Font;;
    src: url("fonts/LibreBodoni-VariableFont_wght.ttf");
  }

.qingshu .cai{
    display: none;
    position: absolute;
    left: 77px;
    top: 185px;
}

.qingshu a:hover .cai{
    display: block;
    
}



.bigbox{
    
    display: grid;
    grid-template-rows: 150px 30px 110px 600px;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    padding-left: 165px;
    /* margin: 100px; */
    padding-top: 25px;
}
.biaoti{
    grid-row: 1/2;
    grid-column: 2/7;
    /* background-color: red; */
    text-align: center;
    line-height: 74px;
    font-family: myFont;
    font-size: 90px;
    font-weight: 500;
}
.info{
    grid-row: 1/2;
    grid-column: 1/2;
    /* background-color: blue; */
    
    border: 5px solid #000;
    font-family: myFont;
    margin-bottom: 15px;
    

}
.info>h3{
    font-size: 18px;
    font-weight: 400;
}
.info>h2{
    font-size: 30px;
    margin: 0;
    padding: 0;

}
.NO{
    grid-row: 2/3;
    grid-column: 1/7;
    display: flex;
    justify-content:space-between;
    font-family: my2Font;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: -10px;


}
.quanzidong{
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    font-family: my2Font;   
    padding-left: 55px;
}
h5{
    font-size: 18px;
    color: rgba(0, 0, 0, .3);
    font-weight: 600;
    border-top: 1px solid #000;
    padding-top: 15px;
    width: 200px;
    
}
h6{
    font-size: 16px;
}
.qingshu{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    font-family: my2Font;
    padding-left: 55px;
    position: relative;

    

}
p{
    text-align: justify;
}
.wuci{
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    font-family: my2Font;
    padding-left: 55px;



    

}
.xiaotui{
    grid-row: 3/4;
    grid-column: 4/5;
    text-align: center;
    font-family: my2Font;
    padding-left: 55px;


    

}
.Emoji{
    grid-row: 3/4;
    grid-column: 5/6;
    text-align: center;
    font-family: my2Font;
    padding-left: 55px;

    

}

.xiaotui1{
    grid-row: 3/4;
    grid-column: 6/7;
    text-align: center;
    font-family: my2Font;
    padding-left: 55px;

}




img{
    width: 200px;
}